<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Galvanize Movie Database</title>
</head>
<body>

<table align="center" width="100%" border="0" cellspacing="10" cellpadding="0">
    <tr>
        <td align="right"><a href="#">Login...</a></td>
    </tr>
    <tr>
        <td  width="250px" align="center" nowrap><a href="index"><img src="gmdb.png" width="250" border="0" /></a></td>
    </tr>
    <tr><td height="50px"></td></tr>
    <tr align="center">
        <td>
            <h1>Your account was created.  Click <a href="/index">here</a> to search for a movie!</h1>
        </td>
    </tr>
    <tr><td height="50px"/></tr>
    <tr>
        <td align="center">© Copyright 2019 Galvanize, Inc.</td>
    </tr>
</table>
</body>
</html>