<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
    <title>Galvanize Movie Database</title>
</head>
<body class="login-background">
    <nav class="navbar">
        <div class="logo-container nav-item">
            <img src="../static/gmdb-edit.png" alt="GMDB">
        </div>
        <div class="login-signup-container nav-item"><button class="login-signup-button">Login/Signup</button></div>
    </nav>

    <div class="login-form">
        <h2>Log In To Your Account</h2>
        <input type="text" class="form-field" placeholder="Username">
        <input type="password" class="form-field" placeholder="Password">
        <button class="button">Login</button>
    </div>

    <footer>
            © Copyright 2019 Galvanize, Inc.
    </footer>

</body>
</html>