<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
    <title>Galvanize Movie Database</title>
</head>
<body class="">
    <nav class="navbar">
        <div class="logo-container nav-item">
            <img src="../static/gmdb-edit.png" alt="GMDB">
        </div>
        <div class="login-signup-container nav-item">
            <div class="username-nav">Hello, <a href="">Username</a></div>
        </div>
    </nav>

    <div class="searchItems-results">
        <i class="fa fa-search searchIcon"></i>
        <input type="text" placeholder="Search...">
    </div>

    <div class="movie-container">
        <div class="movie-header">
            <h2 class="movie-title">The Godfather (1972)</h2>
            <h5 class="movie-rating">7.5/10</h5>
            <button class="movie-rate-button">Rate This</button>
        </div>

        <div class="movie-imgs">
            <img src="https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_.jpg" alt="The Godfather (1972)">
            <div class="movie-description">
                    <h3>Overview</h3>
                    Plot Summary:	The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son.
                    Director:	Francis Ford Coppola
                    Writers:	Mario Puzo (screenplay by), Francis Ford Coppola (screenplay by), Mario Puzo (based on the novel by)
                    Stars:	Marlon Brando, Al Pacino, James Caan, Richard S. Castellano
                    <h3>Details</h3>
                    Official Sites:	http://www.thegodfather.com
                    Country:	USA
                    Language:	English, Italian, Latin
                    Type:	movie
                    <h3>Production</h3>
                    Production Company:	Paramount Pictures
                    Release Date:	1972-03-23 19:00:00.0
                    DVD Release Date:	2001-10-08 20:00:00.0
                    Box Office:	N/A
                    <hr>
                    Awards:	Won 3 Oscars. Another 24 wins & 28 nominations.
                    
            </div>
        </div>
    </div>


    



    <footer>
        © Copyright 2019 Galvanize, Inc.
    </footer>
</body>
</html>