<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
    <title>Galvanize Movie Database</title>
</head>
<body class="">
    <nav class="navbar">
        <div class="logo-container nav-item">
            <img src="../static/gmdb-edit.png" alt="GMDB">
        </div>
        <div class="login-signup-container nav-item">
            <div class="username-nav">Hello, <a href="">Username</a></div>
        </div>
    </nav>

    <div class="searchItems-results">
        <i class="fa fa-search searchIcon"></i>
        <input type="text" placeholder="Search...">
    </div>

    <div class="search-results-container">
        <div class="movie-result">
            <img src="https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_.jpg" alt="The Godfather (1972">
            <h3>The Godfather (1972)</h3>
            <p>Widely regarded as one of the greatest films of all time, this mob drama, based on Mario Puzo's novel of the same name, focuses on the powerful Italian-American crime family of Don Vito Corleone (Marlon Brando). When the don's youngest son, Michael (Al Pacino), reluctantly joins the Mafia, he become…</p>
        </div>
        <div class="movie-result">
            <img src="https://m.media-amazon.com/images/M/MV5BMTg2MzI1MTg3OF5BMl5BanBnXkFtZTgwNTU3NDA2MTI@._V1_UY1200_CR90,0,630,1200_AL_.jpg" alt="Guardians of the Galaxy Vol. 2 (2017)">
            <h3>Guardians of the Galaxy Vol. 2 (2017)</h3>
            <p>Peter Quill and his fellow Guardians are hired by a powerful alien race, the Sovereign, to protect their precious batteries from invaders. When it is discovered that Rocket has stolen the items they were sent to guard, the Sovereign dispatch their armada to search for vengeance. As the Guardians try…</p>
        </div>
        <div class="movie-result">
            <img src="https://m.media-amazon.com/images/M/MV5BOGZmYzVkMmItM2NiOS00MDI3LWI4ZWQtMTg0YWZkODRkMmViXkEyXkFqcGdeQXVyODY0NzcxNw@@._V1_.jpg" alt="Batman Returns (1992)">
            <h3>Batman Returns (1992)</h3>
            <p>The monstrous Penguin (Danny DeVito), who lives in the sewers beneath Gotham, joins up with wicked shock-headed businessman Max Shreck (Christopher Walken) to topple the Batman (Michael Keaton) once and for all. But when Shreck's timid assistant, Selina Kyle (Michelle Pfeiffer), finds out, and Shrec…</p>
        </div>
        <div class="movie-result">
            <img src="https://m.media-amazon.com/images/M/MV5BNzVlY2MwMjktM2E4OS00Y2Y3LWE3ZjctYzhkZGM3YzA1ZWM2XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_.jpg" alt="Star Wars: Episode IV - A New Hope (1977)">
            <h3>Star Wars: Episode IV - A New Hope (1977)</h3>
            <p>The Imperial Forces -- under orders from cruel Darth Vader (David Prowse) -- hold Princess Leia (Carrie Fisher) hostage, in their efforts to quell the rebellion against the Galactic Empire. Luke Skywalker (Mark Hamill) and Han Solo (Harrison Ford), captain of the Millennium Falcon, work together wit…</p>
        </div>
    </div>
    <footer>
        © Copyright 2019 Galvanize, Inc.
    </footer>
</body>
</html>